.title-button {
    color: rgba(12, 0, 26, 255);
    background-color: rgba(255, 255, 255, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 22px;
}
